#/etc/systemd/system/iamaduck.service
[Unit]
Description=IAmADuck
After=network.target

[Service]
ExecStart=/bin/bash src/iamaduck.sh
WorkingDirectory=%h/iamaduck
Restart=on-failure

[Install]
WantedBy=default.target
