#/etc/systemd/system/iamaduck.service
[Unit]
Description=IAmADuck
After=network.target

[Service]
ExecStart=/bin/bash src/iamaduck.sh
WorkingDirectory=/home/anas/iamaduck
Restart=on-failure
User=anas

[Install]
WantedBy=multi-user.target
