country=MYCOUNTRY
ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev
update_config=1

network={
ssid="MYSSID1"
psk="MYPSK1"
id_str="MYIDSTR1"
MYCONFIG1
}

network={
ssid="MYSSID2"
psk="MYPSK2"
id_str="MYIDSTR2"
MYCONFIG2
}

network={
ssid="MYSSID3"
psk="MYPSK3"
id_str="MYIDSTR3"
MYCONFIG3
}

network={
ssid="MYSSID4"
psk="MYPSK4"
id_str="MYIDSTR4"
MYCONFIG4
}

network={
ssid="MYSSID5"
psk="MYPSK5"
id_str="MYIDSTR5"
MYCONFIG5
}
